body{
  background-color: #131722 ;
  color: #fff ;
  font-family: 'Montserrat Alternates';
  font-style: normal;
  
}
a,a:hover {
  color: #fff !important;
  text-decoration: none;
}
img:hover{
  cursor: pointer;
}
.brdr{



  height: 2px;
  background-color: a8a8a83d;
  
  
  }
.navBackGround{
background-color: rgba(36,186,239,.6) !important;
}